<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
      <h4>{{msg}}</h4>
      <!-- v-bind只能实现数据的单项绑定，从M自动绑定到V，无法实现数据的双向绑定 -->
      <!-- 使用v-model指令，可以实现表单元素和Model中数据的双向数据绑定 -->
      <!-- v-model只能运用在表单元素中，比如input(radio,text,address,email)   select   checkbox   textarea -->
      <input type="text"  v-model="msg">
	  <input type="checkbox" id="checkbox" v-model="checked">
	  <label for="checkbox">{{ checked }}</label>
	  <button type="button" @click="changeMsg">覅按价</button>
    </div>
</body>
<script>
       var vm= new Vue({
           el: '#app',  
           data: {      
                msg: ''   ,
				checked: "fasle"
           },
		   methods: {
			   changeMsg(){
			   this.msg="aaa"
			   }
		   }
       })
</script>
</html>

